
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReceiveSession1</title>
</head>
<body>
    <div> 
        <p>Session is : @ViewBag.Cookie</p>
        @Html.ActionLink("Go to Cookie Session 2", "ReceiveSession2");
        @Html.ActionLink("Go to Index", "Index");


    </div>
</body>
</html>
